<!--The content below is only a placeholder and can be replaced.-->
<!-- <ul >
  <li>{{d.hello}}</li>
</ul>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<button (click)="showcontacts()">Show Contacts</button>

<div *ngIf="show">
  <ul >

    <li *ngFor="let d of data">{{ d.email }}</li>

  </ul>
</div>
  <h1>New Contact Form</h1>
  <form #f="ngForm" (ngSubmit)="Add(f.value)">
    <div>Name:        <input type="text"     name="name" ></div>
    <div>Job:        <input type="text"     name="job"></div>
    

    <button type="submit">Submit</button>
  </form>
  
<h1>Edit</h1>
<form #r="ngForm" (ngSubmit)="Edit(r.value)">
  <div>Name:        <input type="text"     name="name"  [(ngModel)] = 'Name' ></div>
  <div>Job:        <input type="text"     name="job"   [(ngModel)] = 'Mail'></div>

  <button type="submit">Submit</button>
</form>
<h1>Search</h1>
<form #s="ngForm" (ngSubmit)="Search(s.value)">
  <div>Name:        <input type="text"     name="name"  [(ngModel)] = 'searchparam'></div>
  
  <button type="submit">Submit</button>
</form>

<div *ngIf="showuser">
  <p>{{singleuser.email}}</p>
  <p>{{singleuser.first_name}} </p>
  <p>{{singleuser.last_name}}</p>
</div>
<h1>Delete</h1>
<form #d="ngForm" (ngSubmit)="Delete(d.value)">
  <div>Name:        <input type="text"     name="name"  [(ngModel)] = 'deleteparam'></div>
  
  <button type="submit">Submit</button>
</form>
<router-outlet></router-outlet>
